*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
}

.header {
    position: relative;
    height: 120px;
    background: rgba(94, 93, 88, 0.60);
    opacity: .8;
    z-index: 2;
}
.header-logo {
    display: flex;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex; 
}

.menu-item {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-link:hover {
    color:  #18CFAB;
}
.menu-img{
    cursor: pointer;
}
.menu-img:hover {
    fill:  #18CFAB;
}

.header-logo-img {
    position: absolute;
    margin-top: 25px;
    cursor: pointer;
}
.logo {
    position: relative;
    left: 14px;
    top: 35px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}

.logo-ham{
    color: #18CFAB;
    margin-left: 4px;
    margin-right: 4px;
}
.header-title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 38px;
}

.creative{
    background: url('/bg/bgCreative/Layer\ 1\ 5.png') center center/cover no-repeat;
    height: 1012px;
    transform: translateY(-120px);
    z-index: 1;
}

.creative-title {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 264px;
}
.cretive-green{
    color: #18CFAB;
}

.creative-subtitle {
    margin-top: 22px;
    color: #FFF;
    text-align: center;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.creative-descr {
    margin-top: 22px;
    color: #D4D4D4;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
}

.creative-btns-wrapp{
    display: flex;
    justify-content: center;
}
.creative-btn{
    width: 168px;
    height: 63px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 150px;
    margin-right: 26px;
    cursor: pointer;
}
.creative-btn:hover , .ready-btn:hover{
    border-top: 5px solid white;
}
.green {
    background-color: #18CFAB;
    color:#FFF;
}
.blue {
    background-color: #00CBF6;
}
.black{
    background-color: #1C2A33;
    color:#18CFAB
}
.service{
    padding: 8px 0 91px 0;
    transform: translateY(-120px);
}

.service-wrapp{
    margin-top: 9px;
    display: flex;
}
.service-catalog{
    width: 510px;
    height: 377px;
    padding: 95px 64px
}
.service-icon{
    display: block;
    margin: 0 auto;
}
.service-descr{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
 
}

.tabcontent-img{
    width: 192px;
    height: 139px;
    margin-right: 10px;
}
.mt {
    margin-top: 70px;
}
.service-title{
    margin-top: 83px;
}
.service-title , .amazing-title , .breaking-title , .about-title , .gallery-title{
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    position: relative;
}
.service-title::before , .amazing-title::before  , .breaking-title::before , .about-title::before , .gallery-title::before{
    content: '';
    display: block;
    top:74px;    
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
    height: 1px;
    background-color:  #18CFAB;
    width: 91px;
}
.service-title::after , .amazing-title::after , .breaking-title::after , .about-title::after , .gallery-title::after{
    content: '';
    display: block;
    top:80px;    
    right: 50%;
    transform: translate(75%, -50%);
    position: absolute;
    height: 1px;
    background-color:  #18CFAB;
    width: 91px;
}

.service-content{
    margin-top: 99px;
}

.tabs{
    display: flex;
}

.tabs-title{
    width: 195px;
    height: 76px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    background-color: #f6ebeb7b;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.tabs-title:hover {
    border : solid 1px #18CFAB;
}

.active{
    width: 195px;
    height: 76px;
    background-color: #18CFAB;
    color: #FFF;
    position: relative;
  
}
.active::after{
    position: absolute;
    content: ''; 
    bottom: -10px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 27px;
    border-right-width: 25px;
    border-top: 22px solid #18CFAB ;
}

.tabcontent {
    margin-top: 23px;
    display: flex;
}


.ready {
    height: 476px;
    background: url('/bg/bgReady/Layer\ 21\ 1.png') center center/cover no-repeat;
    padding: 127px 0 
}

.ready-title{
    color: #18CFAB;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.ready-subtitle {
    margin-top: 12px;
    color: #D8D8D8;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.ready-btn {
    width: 168px;
    height: 63px; 
    background-color: #18CFAB;
    display: block;
    margin: 83px auto;
    color: #FFF;

    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

}
.amazing {
    padding: 95px 0 67px 0;
    background: #E9EDEF;
}

.amazing-title{
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.amazing-content{
    margin-top: 1px;
}

.amazing-tabs-wrap{
    display: flex;
    justify-content: center;
}
.amazing-tabs{
    margin-top: 97px;
    display: flex;
    justify-content: center;
    border: solid 1px #DADADA;
    width: 482px;
    height: 58px;
}

.amazing-tab-title{
    border-left: solid 1px #DADADA ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 11px 12px 11px ;
    cursor: pointer;
}
.amazing-tab-title:hover {
    border: solid 1px #18CFAB;
}
.amazing-tab-title:hover{
    color:#18CFAB;
}

.amazing-img-creative {
    width: 285px;
    height: 211px;
    background-color:#E9EDEF;
    padding-top: 40px;

}

.amazing-logo-creative {
    display: block;
    margin: 0 auto;
}

.amazing-img-creative-hidden{
    position: absolute;
    display: none;
    margin-top: -215px;
    width: 285px;
    height: 211px;
    justify-content: center;
    background: white;
}
.amazing-logo-creative-hidden{
    display: block;
    margin: 40px auto;
}

.amazing-img, .amazing-logo {
    width: 285px;
    height: 211px;
    position: relative;
}
.amazing-img:hover .amazing-img-creative-hidden {
    display: block;
}


.amazing-logo:hover + div{
    display: block;
}

.amazing-img:hover {
    background-image: url('/icon/amazing/icon.svg') center center/cover no-repeat;   
}

.amazing-subtitle{
    color: #18CFAB;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 24px;
    text-align: center;
}

.amazing-descr{
    color: #8A8A8A;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    margin-top: 22px;
    text-align: center;
}


.amazing-tabcontent{
    margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
}

.amazing-btn , .gallery-btn{
    padding: 13px 15px 14px 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 83px auto;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.amazing-btn::after  , .gallery-btn::after{
    content: '';
    position: absolute;
    top: 29px;
    left: 20px;
    display: block;
    width: 18px;
    height: 4px;
    background-color: #fff;
}

.amazing-btn::before , .gallery-btn::before{
    content: '';
    position: absolute;
    top:21px;
    left: 27px;
    display: block;
    width: 4px;
    height: 18px;
    background-color: #fff;
}
.breaking{
    padding: 82px 0 129px 0;
}

.breaking-title{
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.breaking-wrapper{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.breaking-element{
    margin-right: 27px;
    position: relative;
}

.breaking-element:hover .breaking-date {
    transition: .3s;
    background-color:#18CFAB;
}
.breaking-element:hover .breaking-subtitle{
    transition: .3s;
    color:#18CFAB;
}

.breaking-link{
    text-decoration: none;
}

.breaking-date{
    position: absolute;
    width: 58px;
    height: 37px; 
    background-color: #203E38;  
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    top: 0;
    right: 0;
}

.breaking-subtitle{
    color: #717171;
    text-align: center;
    font-size: 17.988px;
    font-style: normal;
    font-weight: 700;
}
.breaking-descr{
    color: #777;
    text-align: center;
    font-size: 13.991px;
    font-style: normal;
    font-weight: 300;
}

.about {
    background: url('/bg/bgAbout/Layer\ 333.png') center center/cover no-repeat;
    max-height: 923px;
    padding: 98px 0 0px 0;
}

.about-title{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.about-logo{
    display: block;
    margin: auto;
    margin-top: 100px;
}

.about-descr{
    margin-top: 35px;
    color: #BBB;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.user-name{
    margin-left: 20px;
    margin-top: 20px;
    color: #18CFAB;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.user-posision{
    margin-left: 20px;
    color: #BBB;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
}

.user-img{
    width: 140px;
    height: 140px;
    display: block;
    margin: 50px auto;
}
.about-user{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about-users{
    position: relative;
}
.about-user-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.users-img{
    margin-right: 74px;
   
}
#previous-slide{
    position: absolute; 
    top: 35px;
    left: 230px;
    border: 1px solid white;
    z-index: 1;
}
#following-slide{
    position: absolute; 
    top: 30px;
    right: 235px;
    border: 1px solid white;
    z-index: 1;
}
.arrow-img:hover{
    background-color:#18CFAB;
}
.wrapper-slide{
    position: relative;
}

.footer{

    height: 90px;
    background-color: #22353F;
    padding: 48px 0 47px 0;
}

.footer-descr{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #AEAEAE;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.active-tabs{
    display: flex;
    list-style: none;
}
.hide {
    display: none;
}
.amazing-tab-content-active{
    display: flex;
    flex-wrap: wrap;
}


